In [1]:
avg=lambda x,y:(x+y)/2
avg(22,12)

17.0

In [2]:
sq=lambda a:a*a
sq(2)

4

In [4]:
cube=lambda b:b*b*b
cube(5)

125

In [5]:
is_even = lambda x: x % 2 == 0

print(is_even(4))  
print(is_even(7))

True
False

In [8]:
number=[1,2,3,4,5,6]
double=lambda number:number
print(number)
print(type(double))

[1, 2, 3, 4, 5, 6]
<class 'function'>

In [20]:

number=[1,2,3,4,5]
double=map(lambda x:x*2,number)
print(list(double))
print(type(number))

[2, 4, 6, 8, 10]
<class 'list'>